<section class="section">
  <div class="section__heading">
    <span class="section__heading__pretitle" translate>banner.pretitle</span>
    <h1 class="section__heading__title">Yasmin Lopes</h1>
    <h3 class="section__heading__job">Front-end developer</h3>
    <p class="section__heading__description" translate>banner.description</p>

    <button
      class="section__heading__button"
      href="mailto:yasminlopes.ti@gmail.com"
      translate
    >
      <span class="section__heading__button--icon material-icons">
        forward_to_inbox
      </span>
      banner.button
    </button>
  </div>
</section>
