<footer class="footer">
  <div [@fadeInUp]>
    <ul class="footer-left-bar">
      <li>
        <a href="https://github.com/yasminlopes" target="_blank">
          <i class="ri-github-line"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/yasmin-lopes-841b601a1/"
          target="_blank"
        >
          <i class="ri-linkedin-line"></i>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar">
      <a href="mailto:yasminlopes.ti@gmail.com" target="_blank"
        >yasminlopes.ti&#64;gmail.com
      </a>
    </div>
  </div>

  <div class="footer-credits">
    <a
      href="https://github.com/yasminlopes/my-portfolio"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <div>
        Built with<i class="ri-angularjs-fill"></i>

        by Yasmin Lopes
      </div>
    </a>
  </div>
</footer>
